
{% extends "prelogin-layout.html" %}


{% block title %} Registration {% endblock title %}

{% block content %}

<form action="{{ url_for('index') }}" , method="POST">
    <div >
        {{ form.username(class_='form-control', placeholder="Username", **kwargs) }}
        <!-- Error messages -->
        <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div >
        {{ form.password(class_='form-control', placeholder="passward", **kwargs) }}
        <!-- Error messages -->
        <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div >
        {{ form.confirm_pswd(class_='form-control', placeholder="retype passward", **kwargs) }}
        <!-- Error messages -->
        <ul>
            {% for error in form.confirm_pswd.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- {{ display_Field(form.username, 'Username', autocomplete="off", autofocus=true) }}
    {{ display_Field(form.password, 'Password') }}
    {{ display_Field(form.confirm_pswd, 'Retype Password') }} -->
    <div>
          <input type="submit" value="create"  >
    </div>

    {{from.csrf_token}}
</form>

{% endblock %}

